/* Header.css */

.header {
    position: relative;
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color */
    padding: 20px; /* Add padding as needed */
    text-align: center;
  }
  
  .header-image img {
    max-width: 100%; /* Ensure the image scales to fit the header */
    height: auto;
  }
  
  .nav-menu {
    position: absolute;
    top: 20px; /* Adjust the vertical position of the menu */
    right: 20px; /* Adjust the horizontal position of the menu */
  }

  .nav-menu1 {
    position: absolute;
    top: 20px; /* Adjust the vertical position of the menu */
    right: 20px; /* Adjust the horizontal position of the menu */
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-list1 {
    list-style: none;
    padding: 0;
    margin-left: -500px;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 50px; /* Adjust the spacing between menu items */
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff; /* Menu item text color */
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-item a:hover {
    color: #ff5722; /* Hover color */
  }
  