/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0c0a0a;
    color: white;
  }
  
  /* Logo styles */
  .logo  {
    
    font-size: 25px;
    margin-left: 250px;
}

.logo1  {
    
  font-size: 10px;
  font-style: italic;
  margin-left: 0px;
  text-align: center;
  color:white;
}

.jobtittle{
    font-size: 10px;
    font-style: italic;
    
}
  
  /* Navigation menu styles */
  .nav-menu {
    flex-grow: 1;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }


  /* Media query for larger screens or desktops */
@media (min-width: 1024px) {
    .logo {
        font-size: 25px;
    margin-left: 640px;    }

   
}
  
  