/* About.css */

/* Common styles for all screen sizes */
body {
  color: #333;
}

.Projects {
  position: absolute;
  top: 50%; /* Adjust the vertical position */
  left: 50%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%); /* Center the content within the header */
  margin-top: -70px;  
  color: #333;
}

.backgroundcolor{
  background-color: #333;
}
  
  /* Style the profile photo */
  .profile img {
    max-width: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image round */
    margin-top: 20px;
  }
  
  /* Style the job role and title */
  .job-role {
    font-size: 14px;
    margin-top: 10px;
    
  }
  
  .short-line {
    width: 50px;
    height: 2px;
    background-color: #333;
    margin: 10px auto;
  }
  
  .job-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }

  .table-container {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: #333;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .Projects {
      margin-top: 130px; /* Remove negative margin for small screens */
    }

    
  
    /* Adjust the size of the profile photo for small screens */
    .profile img {
      max-width: 80px; /* Reduce the size for smaller screens */
      margin-top: 10px; /* Adjust the top margin */
    }
  
    /* Adjust the font size of the job role for small screens */
    .job-role {
      font-size: 12px; /* Reduce the font size for smaller screens */
      margin-top: 8px; /* Adjust the top margin */
    }
  
    /* Adjust the size of the short line for small screens */
    .short-line {
      width: 40px; /* Reduce the width for smaller screens */
      margin-top: 8px; /* Adjust the top margin */
    }
  
    /* Adjust the font size of the job title for small screens */
    .job-title {
      font-size: 14px; /* Reduce the font size for smaller screens */
      margin-top: 8px; /* Adjust the top margin */
    }
  }
  